.clearfix {
  zoom: 1 !important;
}
.clearfix:after {
  content: "." !important;
  clear: both !important;
  display: block !important;
  height: 0 !important;
  visibility: hidden !important;
}
*{
	box-sizing: border-box;
}
#news_detail,
#news{
	margin-bottom: 40px;
}
#news .news{
	padding-left: 5px;
	padding-right: 5px;
}
#news .news .desc{
	text-align: left;
	padding-top: 5px;
}
#news .news ul li{
	margin-top: 20px;
}
#news .news ul li .img{
	width: 100%;
}
#news .news ul li .img img{
	width: 100%;
}
#news .news ul li .news_ct{
	width: 100%;
	margin-top: 5px;
}
#news .news .box-title{
	margin-left: 0;
}
#news_detail{
	padding-left: 5px;
	padding-right: 5px;
}
#news_detail .news_title{
	font-size: 20px;
	line-height: 28px;
	text-align: center;
	padding: 30px 5px;
}
#news_detail .ava_img img{
	width: 100%;
}
#news_detail .news_content{
	padding-top: 10px;
	text-align: left;
}
#news_detail .auhthor{
	text-align: left;
	padding-bottom: 5px;
}
#news_detail .au{
	font-size: 13px;
	float: left;
	padding-right: 5px;
	color: #bf0004;
}
#news_detail .box-title-date{
	float: left;
}